EXECUTABLE=run_integ_analysis.sh
REQUIREMENTS=(HOSTNAME="ce01.esac.esa.int" | HOSTNAME="ce02.esac.esa.int" | HOSTNAME="ce03.esac.esa.int") & QUEUE_NAME="dca"
ENVIRONMENT="EXTRA_MAX_MEMORY=2048"
ARGUMENTS= ibis_science_analysis_COR-IMA 0146 ISGRI
INPUT_FILES= ibis_science_analysis_COR-IMA.sh , GenIdx2Pointlis.jar , makeListForRev.sh , mask.fits
OUTPUT_FILES= log.0146.ibis_science_analysis_COR-IMA log.0146.ibis_science_analysis_COR-IMA.${JOB_ID} , 0146.ISGRI.tar.gz gsiftp://se01.esac.esa.int/dpm/esac.esa.int/home/dca.euro-vo.org/integral/images/0146.ISGRI.tar.gz
STDOUT_FILE=out.0146.ISGRI.${JOB_ID}
STDERR_FILE=err.0146.ISGRI.${JOB_ID}
